.env
venv
sam_hq
/yolov8/outputs
/yolov8/output-dataset
/yolov8/train
/yolov8/dataset-v3
sam_hq_vit_h.pth
outputs
inputs
dataset
wound_dataset
sam_hq_old_repo
outputs_SAM_HQ2_cropped_image
All inputs
wound_dataset_red
wound_dataset_groundingDino